In [67]:
import pandas as pd

In [68]:
budget_data_df = pd.read_csv("budget_data.csv")
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [69]:
budget_data_df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [70]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [71]:
budget_data_df_number_of_months = budget_data_df["Profit/Losses"].count()
budget_data_df_number_of_months

86

In [72]:
budget_data_df_total_revenue = budget_data_df["Profit/Losses"].sum()
budget_data_df_total_revenue

38382578

In [73]:
print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {budget_data_df_number_of_months}")
print(f"Total: ${budget_data_df_total_revenue}")
print(f"Average Change: ${})

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578