In [76]:
import pandas as pd

In [93]:
budget_data_df = pd.read_csv("budget_data.csv")
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [94]:
budget_data_df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [95]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [96]:
budget_data_df_number_of_months = budget_data_df["Profit/Losses"].count()
budget_data_df_number_of_months

86

In [97]:
budget_data_df_total_revenue = budget_data_df["Profit/Losses"].sum()
budget_data_df_total_revenue

38382578

In [116]:
budget_data_df_change = budget_data_df["Profit/Losses"].diff()
budget_data_df_change

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [117]:
budget_data_df_avg_change = budget_data_df_change.mean()
budget_data_df_avg_change

-2315.1176470588234

In [119]:
budget_data_df_avg_change_2_decimals = round(budget_data_df_avg_change,2)
budget_data_df_avg_change_2_decimals

-2315.12

In [143]:
budget_data_df_change.max()

1926159.0

In [142]:
budget_data_df_change.min()

-2196167.0

In [120]:
print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {budget_data_df_number_of_months}")
print(f"Total: ${budget_data_df_total_revenue}")
print(f"Average Change: ${budget_data_df_avg_change_2_decimals}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12