In [220]:
import pandas as pd
import numpy as np

In [221]:
budget_data_df = pd.read_csv("budget_data.csv")
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [222]:
budget_data_df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [223]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [224]:
budget_data_df["Date"] = pd.to_datetime(budget_data_df["Date"])
budget_data_df.head()

        Date  Profit/Losses
0 2010-01-01         867884
1 2010-02-01         984655
2 2010-03-01         322013
3 2010-04-01         -69417
4 2010-05-01         310503

In [225]:
budget_data_df_number_of_months = budget_data_df["Date"].count()
budget_data_df_number_of_months

86

In [226]:
budget_data_df_total_revenue = budget_data_df["Profit/Losses"].sum()
budget_data_df_total_revenue

38382578

In [227]:
budget_data_df["diff"] = budget_data_df["Profit/Losses"].diff()
budget_data_df.head()

        Date  Profit/Losses       diff
0 2010-01-01         867884        nan
1 2010-02-01         984655  116771.00
2 2010-03-01         322013 -662642.00
3 2010-04-01         -69417 -391430.00
4 2010-05-01         310503  379920.00

In [228]:
budget_data_df.mean()

<ipython-input-228-fca40d8de292>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  budget_data_df.mean()

Profit/Losses   446309.05
diff             -2315.12
dtype: float64

In [229]:
budget_data_df[budget_data_df["diff"] == budget_data_df["diff"].max()]

         Date  Profit/Losses       diff
25 2012-02-01        1170593 1926159.00

In [230]:
budget_data_df["diff"].head()

0          nan
1    116771.00
2   -662642.00
3   -391430.00
4    379920.00
Name: diff, dtype: float64

In [231]:
budget_data_df[budget_data_df["diff"] == budget_data_df["diff"].min()]

         Date  Profit/Losses        diff
44 2013-09-01       -1196225 -2196167.00

In [232]:
budget_data_df_avg_change = round(budget_data_df_change.mean(),2)
budget_data_df_avg_change

-2315.12

In [234]:
budget_max_data = budget_data_df.max()
budget_max_data

Date             2017-02-01 00:00:00
Profit/Losses                1170593
diff                      1926159.00
dtype: object

In [235]:
budget_max_month_rev = int(budget_max_data.iloc[2])
budget_max_month_rev

1926159

In [236]:
budget_min_data = budget_data_df.min()
budget_min_data

Date             2010-01-01 00:00:00
Profit/Losses               -1196225
diff                     -2196167.00
dtype: object

In [237]:
budget_min_month_rev = int(budget_min_data.iloc[2])
budget_min_month_rev

-2196167

In [238]:
print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {budget_data_df_number_of_months}")
print(f"Total: ${budget_data_df_total_revenue}")
print(f"Average Change: ${budget_data_df_avg_change}")
print(f"Greatest Increase in Profits: Feb-2012 (${budget_max_month_rev})") 
print(f"Greatest Decrease in Profits: Sep-2013 (${budget_min_month_rev})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)