In [117]:
import pandas as pd
import numpy as np

In [118]:
budget_data_df = pd.read_csv("budget_data.csv")
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [119]:
budget_data_df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [120]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [121]:
budget_data_df_number_of_months = budget_data_df["Date"].count()
budget_data_df_number_of_months

86

In [122]:
budget_data_df_total_revenue = budget_data_df["Profit/Losses"].sum()
budget_data_df_total_revenue

38382578

In [123]:
budget_data_df["diff"] = budget_data_df["Profit/Losses"].diff()
budget_data_df

        Date  Profit/Losses       diff
0   Jan-2010         867884        nan
1   Feb-2010         984655  116771.00
2   Mar-2010         322013 -662642.00
3   Apr-2010         -69417 -391430.00
4   May-2010         310503  379920.00
..       ...            ...        ...
81  Oct-2016         102685 -665765.00
82  Nov-2016         795914  693229.00
83  Dec-2016          60988 -734926.00
84  Jan-2017         138230   77242.00
85  Feb-2017         671099  532869.00

[86 rows x 3 columns]

In [124]:
budget_data_df_avg_change = round(budget_data_df_change.mean(),2)
budget_data_df_avg_change

-2315.12

In [129]:
budget_max_data = budget_data_df.max()
budget_max_data

Date              Sep-2016
Profit/Losses      1170593
diff            1926159.00
dtype: object

In [130]:
budget_max_data = budget_data_df.max()
budget_max_data

Date              Sep-2016
Profit/Losses      1170593
diff            1926159.00
dtype: object

In [128]:
budget_min_data = budget_data_df.min()
budget_min_data

Date               Apr-2010
Profit/Losses      -1196225
diff            -2196167.00
dtype: object

In [125]:
budget_data_df_min_month = budget_min_data.iloc[0]
budget_data_df_min_month

'Sep-2013'

In [126]:
budget_min_month_rev = int(budget_min_data.iloc[2])
budget_min_month_rev

-2196167

In [127]:
print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {budget_data_df_number_of_months}")
print(f"Total: ${budget_data_df_total_revenue}")
print(f"Average Change: ${budget_data_df_avg_change}")
print(f"Greatest Increase in Profits: ")
print(f"Greatest Decrease in Profits: {budget_data_df_min_month}  (${budget_min_month_rev})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits:
Greatest Decrease in Profits: Sep-2013  ($-2196167)